<!DOCTYPE html>
<html>
<title>LOGIN</title>
</head>
<body>
  <h1>INICIO DE SESION</h1>
  <form>
    <label for="mail" class="form-label mb-0">Email</label>
    <input type="mail" class="form-control" name="mail" id="mail" />
    <br>
    <label for="password" class="form-label mb-0">Password</label>
    <input type="password" class="form-control" name="password" id="password" />
        <br>
    <button id="login">INGRESAR</button> <button><a href="/api/auth/register">REGISTRARSE</a></button>
  </form>
</body>
</html>

<script src="/js/login.js"></script>