<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="#">
    <title>E-COMMERCE</title>
</head>
<body>
    <header>
        <nav>
            <a href="/api/products">INICIO</a>
            <a href="/api/auth/signin">
                <button>
                    LOGIN
                </button>
            </a>
            <button id="logout" type="submit">LOG OUT</button>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="/api/auth/register">registrarse</a>
    </footer>
</body>
</html>

<script src="/js/logout.js"></script>